@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Flat Details";
    var flatInfo = ViewBag.FlatDetail;
}
<div class="RecomendedArea mt-5 mb-3">
    <h5>Confirm Your Flat</h5>
    <small>Best Flat with affordable price</small>
    <div class="card flatDetils mb-3 mt-3">

        <img class="card-img-top" style="overflow: hidden" src="@flatInfo.Picture" alt="Card image cap">
               <div class="card-body mb-3">
                   <p><b> Description: </b> <br/>
                @flatInfo.Description
                   </p>
                   <p><b>Adddress</b> <br/>
                House: H: @flatInfo.HouseNo, R: @flatInfo.RoadNo, Sc: @flatInfo.sectorNo, @flatInfo.AreaName
                   </p> 
                   <p><b>Room:</b> <br/>
                @flatInfo.RoomNo
                   </p> 
                   <p><b>Type of:</b> <br/>
                @flatInfo.Types
                   </p>
                   <p><b>Cost:</b> <br/>
                @flatInfo.TotalCost tk/month
                   </p> 
                   <p><b>Phone:</b> <br/>
                @flatInfo.Phone
                   </p>
               </div>
            <div class="d-flex justify-content-end mb-3 mt-2">
            <a class="btn btn-primary" asp-controller="Flat" asp-action="Index" >Cancel</a>
            <a class="btn btn-primary mx-3" asp-controller="Payment" asp-action="Index" asp-route-id="@flatInfo.FlatId">Payment</a>
            </div>
          
        <div class="row w-75 mx-3">
            <form asp-controller="Flat" asp-action="Comment" method="post" >
                <input hidden name="FlatId" value="@flatInfo.FlatId" />
             
                <div class="col-12 mb-3">
                    <label for="comment" class="mb-1"> <b>Write your Comment</b></label>
                    <textarea name="comment" rows="4" type="text" class="form-control" ></textarea>
                </div>
                <div class="d-flex justify-content-end mx-4">
                      <button type="submit" class="btn btn-sm btn-primary">Comment</button>
                </div>
            </form>

            <div>
                <h5>See All Comments</h5>
                <div class="row w-100">
                    @foreach(var item in ViewBag.Comments)
                    {
                         <div class="col-12 mb-3">
                            <p><b>@item.Name </b> <br/><small>@item.Date</small><br/>

                                @item.comment</p>
                        </div>
                        @*<div class="col-6"></div>*@
                    }
                   
                </div>
            </div>

        </div>               
    </div>
   

</div>