@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Flat";

}

<div class="RecomendedArea mt-5 mb-3">
    <h5>Choose your Flat</h5>
      <small>Best Flat with affordable price</small>
    <div class="d-flex flex-wrap justify-content-center">
        @if(ViewBag.Count == 0)
        {
            <h3 aligin="center">No Search Results</h3>
        }
        @foreach (var item in ViewBag.Flats)
        {
            <div class="card mt-3 mb-3 " style="width: 300px; height:340px; margin-right: 20px;">
                <img class="card-img-top" style="overflow: hidden" src="@item.Picture" alt="Card image cap">
                <div class="card-body">
                    <div>
                        <small class="dec_flat"><b>Flat Name:</b> @item.Name</small> <br />
                        <small class="dec_flat"><b>Address:</b> H: @item.HouseNo, R: @item.RoadNo, Sc: @item.sectorNo, @item.AreaName </small> <br />
                        <small class="dec_flat "><b> Price:</b> @item.TotalCost tk/month </small>
                        <small class="dec_flat mx-3"><b>  Type:</b>@item.Types</small> <br />
                        <small class="dec_flat"><b> Rooms:</b>@item.RoomNo</small>
                    </div>
                    <div>
                        <b>Views</b> @item.Views
                        <a class="btn btn-primary" style="margin-left: 70px" asp-controller="Flat" asp-action="FlatDetails" asp-route-id="@item.FlatId">Booked Now</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
