@model FlatFinding.ViewModel.SearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Flat Finding";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h5 class="mb-2 text-center">Active User</h5>
                    <h5 class="text-center">@ViewBag.UserCount</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h5 class="mb-2 text-center">Active Flat Owner</h5>
                    <h5 class="text-center">@ViewBag.OwnerCount</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h5 class="mb-2 text-center">Available Flats</h5>
                    <h5 class="text-center">@ViewBag.AllFlats </h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h5 class="mb-2 text-center">Completed Booking</h5>
                    <h5 class="text-center"> @ViewBag.BookedFlats</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-3">
    <div class="d-flex container HeaderBanar">
        <div class="HomeHeaderLef">
            @*TODO:
            1) Advance Search: (Area, price, room, type(family, bacelor, sublate) )
            2) Recomend by your profile or behavior, Area ML
            3) Notice for your and Comment section 
            *@
            <div class="card SearchGrdint">
                <div class="card-body">
                    <h5 style="text-align: center;">Find the Right Flat</h5>

                    <h5>Search </h5>
                  
                    <form class="p-2" asp-controller="Flat" asp-action="Search" method="post">

                        @*<div class="text-center">
                        <input type="radio" /> <b style="margin-right: 30px">AI Recomanded Search</b>
                        <input type="radio" /> <b>General Search</b>
                        </div>*@

                        <div class="row  mt-3">
                            <div class="col-6 mb-3">
                                <label asp-for="Area" class="mb-1"><b> Select Area</b></label>
                                <select asp-for="Area" class="form-control">
                                <option value="Airport">Airport</option>
                                <option value="Uttara"> Uttara</option>
                                <option value="Mirpur"> Mirpur</option>
                                <option value="Bonani"> Bonani</option>
                                <option value="Gulsan"> Gulsan</option>
                                <option value="Dhanmondi"> Dhanmondi</option>
                                <option value="Motijil"> Motijil</option>
                        </select>
                            </div>

                            <div class="col-6 mb-3">
                                <label asp-for="Price" class="mb-1"> <b>Price Range -2000 to +20000 </b></label>
                                <input asp-for="Price" type="number" class="form-control" />
                            </div>

                            <div class="col-6 mb-3">
                                <label asp-for="Room" class="mb-1"> <b>Number of Rooms </b></label>
                                <select asp-for="Room" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="Type" class="mb-1"><b>Type of Flat </b></label>
                                <select asp-for="Type" class="form-control">
                                    <option value="Family">Family</option>
                                    <option value="Bachelor">Bachelor</option>
                                    <option value="Sublate">Sublate</option>

                                </select>
                            </div>



                        </div>
                        <button class="btn btn-success mt-3 mb-3" >Search Now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="HomeHeaderRight">
            <div class="card SideBarGrdint2">
                <div class="card-header text-center">See Area wise</div>
                <div class="card-body d-flex flex-wrap">

                    @foreach (var flat in ViewBag.AreaWise)
                     {
                        <a class="btn btn-outline-success mb-2" style="margin-right: 4px" asp-area="" asp-controller="Flat" asp-action="AreaWise" asp-route-id="@flat.AreaName"> @flat.AreaName (@flat.FlatCount)</a>
                     }
                   
                   @* <a class="btn btn-outline-success mb-2" style="margin-right: 4px" asp-area="" asp-controller="Home" asp-action="Index">Airport (7)</a>
                    <a class="btn btn-outline-success mb-2" style="margin-right: 4px" asp-area="" asp-controller="Home" asp-action="Index">Mirpur (15)</a>
                    <a class="btn btn-outline-success mb-2" style="margin-right: 4px" asp-area="" asp-controller="Home" asp-action="Index">Motijil (9)</a>
                    <a class="btn btn-outline-success mb-2" style="margin-right: 4px" asp-area="" asp-controller="Home" asp-action="Index">Basundhara (11)</a>*@

                </div>
               @* <div class="p-2">
                    <p>Quick Update</p>
                    New Flat (24h) <br />
                    Last 7 days
                </div>*@

                <div class="p-1">
                      <hr />
                    <p class="text-center" > <small> Best Flat with Best Match </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="RecomendedArea mt-5 mb-3">
        <h5 class="mx-5">Recomanded Flat</h5>
        <div class="d-flex flex-wrap justify-content-center">
            @foreach(var item in ViewBag.RecomendedFlats)
            {
                <div class="card mt-3 mb-3 " style="width: 300px; height:340px; margin-right: 20px;">
                    <img class="card-img-top" style="overflow: hidden" src="@item.Picture" alt="Card image cap">
                    <div class="card-body">
                       <div>
                            <small class="dec_flat"><b>Address:</b> H: @item.HouseNo, R: @item.RoadNo, Sc: @item.sectorNo, @item.AreaName </small> <br />
                            <small class="dec_flat "><b> Price:</b> @item.TotalCost tk/month </small>
                            <small class="dec_flat mx-3"><b>  Type:</b>@item.Types</small> <br />
                            <small class="dec_flat"><b> Rooms:</b>@item.RoomNo</small>
                       </div>
                       <div>
                            <b>Views</b> @item.Views
                            <a class="btn btn-primary" style="margin-left: 70px" asp-controller="Flat" asp-action="FlatDetails" asp-route-id="@item.FlatId">Booked Now</a>
                       </div>
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="RecomendedArea">
        <div class="card" style="background: #e1e1e1;">
            <div class="card-body">
               
    @if (TempData["subscribe"] != null)
    {
            <script type="text/javascript" >
                window.onload = function () {
                    Swal.fire(
                        '',
                       '@TempData["subscribe"]',
                       ''
                    )
                };
             </script>
    }
   
       
                  <form asp-controller="home" asp-action="suscriber" method="post">
                      <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 mb-3">
                            <label for="email" class="mb-1"> <b>Subscribe with your Email</b></label>
                            <input for="email" name="email" type="email" class="form-control" autocomplete="off" />
                           
                        </div>
                        <div class="col-2 mt-4">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
      
    </div>
</div>


   
