@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Owner Dashboard";

}

<div class="RecomendedArea mt-5 mb-3">
   

    <div class="card userProfile mb-3 mt-3">

        <div class="card-body">
             <h5>Owner Profile</h5>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <img class="mx-4" src="@ViewBag.user.Picture" style="width: 100px; height: 100px" />
                </div>
                <div class="col-6 mb-3">
                    <b>Name:</b>
                    <span class="mx-2">@ViewBag.user.Name</span>
                </div>

                <div class="col-6  mb-3">
                    <b>Address:</b>
                    <span class="mx-2">@ViewBag.user.Address</span>
                </div>
                <div class="col-6  mb-3">
                    <b>Phone:</b>
                    <span class="mx-2">@ViewBag.user.PhoneNumber</span>
                </div>
                <div class="col-6  mb-3">
                    <b>Email:</b>
                    <span class="mx-2">@ViewBag.user.Email</span>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary mx-4" asp-controller="" asp-action="">Edit</a>
            </div>

        </div>


    </div>

</div>


<div class="RecomendedArea mt-5 mb-3">
   


    <div class="card userBookedList mb-3 mt-3">

        <div class="card-body">
             <h5>Posted Flat</h5>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" asp-controller="Flat" asp-action="Create">Create New Flat</a>
            </div>
            <table class="table">
                <tr>
                    <th>Picture</th>
                    <th>Address</th>
                    <th>Cost</th>
                    <th>Rooms</th>
                    <th>Avilable</th>
                    <th>Action</th>
                </tr>
                @if (ViewBag.Flats.Count != 0)
                {
                    foreach (var item in ViewBag.Flats)
                    {

                        <tr>
                            <td>
                                <img src="@item.Picture" style="width: 50px; height: 45px" />
                            </td>
                            <td>H: @item.HouseNo, R: @item.RoadNo, Sc: @item.sectorNo, @item.AreaName </td>
                            <td>@item.TotalCost tk/month</td>
                            <td>@item.RoomNo</td>
                            <td>@item.Available</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="" asp-action="">Update</a>
                                <a class="btn btn-danger" asp-controller="" asp-action="">Delete</a>
                            </td>
                        </tr>

                    }
                }
              

            </table>

        </div>


    </div>

</div>


<div class=" w-100 mt-5 mb-3">
   

    <div class="card userBookedList mb-3 mt-3">

        <div class="card-body">
             <h5>Your Flat Customer Booked </h5>
            <table class="table">
                <tr>
                    <th>Picture</th>
                    <th>Buyer Name</th>
                    <th>Buyer Address</th>
                    <th>Buyer Phone</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Buy Date</th>
                    <th>Action</th>
                </tr>
                @if( ViewBag.Booked.Count != 0)
                {
                    foreach (var flat in ViewBag.Booked)
                    {
                        <tr>
                            <td>
                                <img src="@flat.Picture" style="width: 50px; height: 45px" />
                            </td>

                            <td>@flat.UserName</td>
                            <td>@flat.Address</td>
                            <td>@flat.Type</td>
                            <td>@flat.Cost tk/month</td>
                            <td>Paid</td>
                            <td>@flat.Date</td>
                            <td>

                                <a class="btn btn-primary" asp-controller="" asp-action="">Print Details</a>

                            </td>
                        </tr>
                    }
                }
                

            </table>

        </div>


    </div>

</div>