<div class="container">
   <div class="card">
       <div class="card-header">
           <div class="d-flex justify-content-around">
                <h5>Admin Notice Panel</h5>
                <a class="btn btn-primary" asp-controller="Dashboard" asp-action="CreateNotice">Create Notice</a>
           </div>
           <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Publish Date</th>
                        <th>Action</th>
                    </tr>
                    @foreach (var ntc in ViewBag.Notice)
                    {

                        <tr>

                            <td>@ntc.NoticeName</td>
                            <td>@ntc.Description</td>

                            <td>@ntc.PublishDate</td>
                            <td>

                                <a class="btn btn-primary" asp-controller="Dashboard" asp-action="CreateNotice" asp-route-id="@ntc.NoticeId"> Update</a>
                                <a class="btn btn-danger" asp-controller="Dashboard" asp-action="NoticeDelete" asp-route-id="@ntc.NoticeId">Delete</a>
                              
                            </td>
                        </tr>

                    }

                </table>
           </div>
          
       </div>
   </div>
</div>