
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "User Dashboard";
    var user = ViewBag.user;
   
}
<div class="RecomendedArea mt-5 mb-3">
   

    <div class="card userProfile mb-3 mt-3">
         
        <div class="card-body">
            <h5>User Profile</h5>

           <div class="row">
              <div class="col-8">
                  <div class="row">
                       <div class="col-6 mb-3 mt-3">
                   <b>Name:</b>
                    <span class="mx-2">@user.Name</span>
               </div>
                
                <div class="col-6  mb-3 mt-3">
                    <b>Father Name:</b>
                            <span class="mx-2">@user.FatherName</span>
                </div> 
                <div class="col-6  mb-3">
                    <b>Mother Name:</b>
                            <span class="mx-2">@user.MotherName</span>
                </div>
                <div class="col-6  mb-3">
                    <b>Address:</b>
                            <span class="mx-2">@user.Address</span>
                </div> 
              
                <div class="col-6  mb-3">
                    <b>Email:</b>
                    <span class="mx-2">@user.Email</span>
                </div>
                  </div>
              </div>
              <div class="col-4">
                   <div class="col-12 d-flex justify-content-end">
                   <img class="mx-4" src="@user.Picture"  style="width: 100px; height: 100px"/>
               </div>
              </div>
              
           </div>
           <div class="d-flex justify-content-end">
                <a class="btn btn-primary mx-4" asp-controller="Account" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
           </div>

        </div>


    </div>

</div>


<div class="RecomendedArea mt-5 mb-3">
   

    <div class="card userBookedList mb-3 mt-3">

        <div class="card-body">
             <h5>Booked Flat by You</h5>
            <table class="table">
                <tr>
                    <th>Picture</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Booking Date</th>
                    <th>Action</th>
                </tr>
                @if (ViewBag.bookedFlat.Count != 0)
           {

                    foreach (var flat in ViewBag.bookedFlat)
                {
                        <tr>
                            <td>
                               <img src="@flat.Picture" style="width: 50px; height: 45px" />
                            </td>

                            <td>@flat.Address</td>
                            <td>@flat.Type</td>
                            <td>@flat.Cost tk/month</td>
                            <td>Paid</td>
                            <td>@flat.Date</td>
                            <td>
                                <div>
                                    <a class="btn btn-danger mb-1" asp-controller="Dashboard" asp-action="FlatBookingCancel" asp-route-id="@flat.FlatBookedId">Cancel</a>
                                    <a class="btn btn-primary" asp-controller="Dashboard" asp-action="BookingReport" target="_blank" asp-route-id="@flat.FlatBookedId">Print Details</a>
                                </div>
                               

                            </td>
                        </tr>
                }
             
               
           }

            </table>

        </div>


    </div>

</div>


