<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-around">
                <h5>Admin USER List Panel</h5>
                <h5>Number Of User: @ViewBag.UserList.Count</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Phone</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    @foreach (var user in ViewBag.UserList)
                    {

                        <tr>
                            <td><img style="width: 100px; height: 80px" src="@user.Picture" /></td>
                            <td>@user.Name</td>
                            <td>@user.Address </td>

                            <td>
                                <a class="btn btn-danger" asp-controller="Dashboard" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</a>

                            </td>
                        </tr>

                    }

                </table>
            </div>

        </div>
    </div>
</div>